.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 60px;
}.u-section-2 .u-sheet-1 {
  min-height: 566px;
}

.u-section-2 .u-text-1 {
  margin: 160px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 700px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }
}